@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
    /* Purple - #6C5CE7 
    Orange -  ff5722 
    Green - 00ff88 */
 
    --theme-color: #00ff88; /* Replace with your desired theme color */
    --insta-link: url('https://www.instagram.com/webstar_vishalgupta/');
    --linkedin-link: url('https://www.linkedin.com/in/vishal-gupta-5655a4328/');
    --github-link: url('https://github.com/webstar-vishalgupta');
    --github-link: url('#');
    
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    cursor: none !important;
    /* cursor: url('assets/images/my-cursor.png') 4 4, auto !important; */
}


/* Custom cursor styling */
#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background: url('/assets/images/my-cursor.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.035s linear; 
  }


  /* ----------Botton Nav bar----------- */

.nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    display: flex;
    padding: 10px 20px;
    gap: 20px;
    z-index: 1000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
}

.nav .nav-item {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    /* cursor: pointer; */
}

.nav .nav-item:hover {
    transform: scale(1.5) translateY(-20px);
    background: rgba(255, 255, 255, 0.5);
}

.nav .nav-item svg {
    width: 24px;
    height: 24px;
    stroke: white;
    stroke-width: 2;
    fill: none;
}

.nav .nav-item.active {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}

.tooltip {
    position: absolute;
    bottom: 60px;
    background: #111;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.3s;
    /* pointer-events: none; */
    transform: translateY(10px);
}

.nav-item:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media (max-width: 600px) {
    .nav {
        padding: 8px 10px;
        gap: 12px;
    }

    .nav .nav-item {
        width: 40px;
        height: 40px;
    }

    .nav .nav-item svg {
        width: 20px;
        height: 20px;
    }
}

